.list {
    margin-left: -30px!important;
    padding-top: 30px;
}

.just-padding {
    padding-left: 30px;
}

.list-group-item {
    padding: 8px;
    padding-left: 16px;
    margin-top: 1px;
}

.icon-trash {
    position: absolute !important;
    right: 60px !important; // margin-top: -20px;
    color: #f44336;
}

nav.navbar {
    padding-top: 18px;
}