<div>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <i class="fa fa-list-ul"></i>
            <a [routerLink]="['/account-type-list']">{{'account-type' | translate}}</a>
        </li>
        <li class="breadcrumb-item active">
            <i class="fa fa-edit"></i> {{'new-account-type' | translate}}</li>
    </ol>
    <div class="row">
        <div class="col-md-3 col-sm-1">
        </div>
        <div class="col-md-6 col-sm-10">
            <form role="form">
                <fieldset class="form-group">
                    <label>{{'account-type-no' | translate}}</label>
                    <span class="danger">*</span>
                    <input class="form-control" type="text" [(ngModel)]="accountType.accounttypeno" [ngModelOptions]="{standalone: true}">
                </fieldset>
                <fieldset class="form-group">
                    <label>{{'account-type-name' | translate}}</label>
                    <span class="danger">*</span>
                    <input class="form-control" type="text" [(ngModel)]="accountType.accounttypename" [ngModelOptions]="{standalone: true}">
                </fieldset>
                <div class="col-12 text-center">
                    <button type="submit" class="btn btn-primary" (click)="saveAccountType()">{{'save' | translate}}</button>
                </div>
            </form>
        </div>
        <div class="col-md-3 col-sm-1">
        </div>
    </div>
</div>
